{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ajoute un nouveau projet{% endblock %}

{% block body %}
    {% include '_includes/navbar.html.twig' %}
<div class="pf-card-form p-2">
    <a class="pf-button" href="{{ path('app_admin') }}">Retour</a>
    <h2>Ajoute un nouveau projet</h2>

    {{ include('projects/_form.html.twig', {'button_label': 'Ajouter'}) }}
</div>
{% endblock %}
