{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="pt-5">
        <button>Classique</button>
        <button class="pf-navbutton">Nav Button</button>
        <button class="pf-button-edit">Modifier</button>
        <button class="pf-button-delete">Supprimer</button>
    </div>

{% endblock %}
