{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Bienvenue sur mon portfolio !{% endblock %}

{% block body %}
    <div class="pf-pink-right">
        {% include '_includes/navbar.html.twig' %}
        {% include '_includes/welcome.html.twig'%}
    </div>
{% endblock %}
