<h2 id="history">Mon Histoire</h2>
<div class="pf-history">
    <div class="pf-mgen">
        <img class="pf-logo" src="{{ asset('build/images/mgen-logo.jpg')  }}" alt="Logo de la Mutulle Générale de l'Enseignement National">
        <p>Lors de mes 9 années passées à la MGEN, j’ai développé des compétences solides en analyse et résolution de problèmes, rédaction de documentation et déchiffrage de hiéroglyphes administratifs. J'ai également acquis un sixième sens pour détecter les erreurs dans des suites infinies de lettres et de chiffres qui n’ont de sens que pour une poignée d'initiés.</p>
    </div>
    <div class="pf-wcs">
        <img class="pf-logo" src="{{ asset('build/images/wcs-logo.png') }}" alt="Logo de la Wild Code School">
        <p>Grâce à la Wild Code School, j’ai pu me plonger dans le monde merveilleux des langages PHP, JavaScript, CSS et HTML, ainsi que du framework Symfony. J'ai bravé les bugs et les boucles infinies et je me suis découvert une véritable passion pour le développement web. Durant ma formation j'ai réalisé plusieurs projets concrets, dans lesquels j’ai acquis une expérience précieuse en conception et en développement web.</p>
    </div>
</div>
<p class="pf-important-text">Et maintenant ?</p>
<p class="pf-important-text">Je suis prête à déployer mes compétences techniques et ma détermination pour donner vie à vos projets.</p>