<div class="text-center">
    <a class="pf-button" href="{{ asset('build/resume/CV-AlineLEGENDRE-DeveloppeuseWeb.pdf') }}" download="CV-AlineLEGENDRE-DeveloppeuseWeb">Télécharger mon CV</a>
</div>
<div class="d-flex justify-content-evenly align-items-center pf-welcome-width">
    <h1 class="pf-welcome">Bienvenue sur mon portfolio !</h1>
    <img class="pf-img-rounded" src="https://placehold.co/400x450" alt=""/>
</div>
<nav class="pf-nav text-center align-items-md-end">
    <a class="pf-button pf-navbutton" href="#history">Mon Histoire</a>
    <a class="pf-button pf-navbutton" href="#project">Mes Projets</a>
    <a class="pf-button pf-navbutton" href="#contact">Me Contacter</a>
</nav>
