button, .pf-button {
  background-color: $primary-color;
  border-radius: $border-radius;
  border: solid 1px $primary-color;
  padding: 4px 12px;
  color: $black-color;
}

.pf-navbutton {
  padding: 8px 20px;
  border: solid 1px $secondary-color;
  background-color: transparent;
}

button:hover, .pf-button:hover, .pf-navbutton:hover {
  background-color: $secondary-color;
  border: solid 1px $secondary-color;
  color: $white-color;
}

.pf-button-edit {
  background-color: transparent;
  border: none;
  padding: 0;
}

.pf-button-delete {
  background-color: transparent;
  border: none;
  padding: 0;
  color: darkred;
}

.pf-button-delete:hover, .pf-button-edit:hover {
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
}


