form label {
  // utiliser la class bootstrap form-label
  font-weight: bold;
}

form input {
  // utiliser la class bootstrap form-control
  border-radius: $border-radius;
  margin-bottom: 1rem;
}

.pf-check-text label {
  font-weight: initial;
  margin: 1rem 0;
}

.pf-check-text input {
  margin-top: 1.2rem;
}

textarea {
  resize: none;
}

.pf-card-form {
  margin: 4rem auto;
  width: 60%;
  border-radius: $border-radius;
  border: 1px solid $secondary-color;
}

.pf-card-form h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.pf-box-skills label {
  margin-right: 1rem;
}