.pf-img-rounded {
  border-radius: 50%;
}

.pf-pink-right {
  position: relative;
  height: 100vh;
  background-image: -webkit-linear-gradient(118.5deg, #F4EAE9 50%, #ffffff 50%);
}

.pf-welcome-width {
  height: calc(100vh - 150px);
}