/* Background */

.pf-pink-bottom {
  height: 100vh;
  background-image: -webkit-linear-gradient(115deg, #F4EAE9 50%, #ffffff 50%);
}

.pf-pink-top {
  height: 100vh;
  background-image: -webkit-linear-gradient(65deg, #ffffff 50%, #F4EAE9 50%);
  padding: 0 4rem;
}

.pf-pink-all {
  background-color: #F4EAE9;
  padding: 0 4rem;
}

/* End background */

/* Welcome section */

.pf-img-rounded {
  border-radius: 45%;
}

.pf-welcome-width {
  height: calc(100vh - 150px);
}

/* End welcome section */

/* My history section */

.pf-logo {
  width: 260px;
  height: 130px;
  margin: 0 0 1rem 0;
}

.pf-history {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.pf-wcs {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.pf-mgen, .pf-wcs {
  width: 40%;
}

.pf-important-text {
  font-size: 1.5rem;
  text-align: center;
  width: 50rem;
  margin: 0 auto;
}

/* End my history section */

/* My projects section */

.card {
  width: 22rem;
  margin-bottom: 4rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pf-box-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 1em;
}

/* End my projects section */

/* Contact section */

.pf-contact {
  padding: 0 4rem;
}

svg {
  width: 4rem;
  height: 4rem;
  fill: currentColor;
  margin-bottom: 2rem;
}

/* End contact section */