.pf-bg-project {
  width: 100%;
  padding: 0 4rem;
  background-image: -webkit-linear-gradient(127.5deg, #B8F5CD 50%, #ffffff 50%);
}

.pf-image1 {
  width: 100%;
}

.pf-container {
  width: 100%;
  padding: 4rem 0;
}

.pf-contain {
  width: 50%;
}

.pf-images {
  padding: 0 0 6rem 0;
}

.pf-image2 {
  width: 355px;
}

@media screen and (max-width:769px) {

  .pf-bg-project {
    background-image: -webkit-linear-gradient(162deg, #B8F5CD 50%, #ffffff 50%);
    padding: 0;
  }

  .pf-btn-return {
    margin: 2rem 0 0 1rem;
  }

  .pf-container {
    padding: 2rem 0;
  }

  .pf-images {
    padding: 0 0 11rem 0;
  }

  .pf-image1 {
    width: 355px;
  }

  .pf-contain {
    width: 100%;
  }

  .pf-contain1 {
    padding: 0 1rem;
  }
}