h1 {
  font-family: $font-title;
  text-align: center;
  font-weight: 700;
}

.pf-welcome {
  width: 25rem;
  text-align: initial;
}

h2 {
  font-family: $font-title;
  font-weight: 700;
  font-size: 4rem;
  padding: 4rem 0 2rem 0;
}