// assets/styles/global.scss

// customize some Bootstrap variables
$primary: #D1A8A5FF;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "_includes/variables.scss";
@import "_includes/button.scss";
@import "_includes/form.scss";
@import "_includes/title.scss";
@import "_includes/home.scss";
@import "_includes/footer.scss";
@import "_includes/project.scss";

* {
    color: $black-color;
    font-family: $font-text;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black-color;
}

a:hover {
    text-decoration: underline;
}